$navbar-height: 56px;

.dest{
  height: calc(100vh - $navbar-height);
  overflow-y: scroll;
  a{
    svg  {
      float: right;
      font-size: 1.5em;
    }
    img {
      width:30px;
      height:20px;
      margin-right: 10px;
      object-fit: fill;
    }
  }
}

nav {
  height: $navbar-height;
  .text-danger {
    font-size: 1.1em;
    font-weight: bold;
  }
}
.navbar-brand {
  margin: 0;
}
.navbar-brand.right {
  font-size: 15px;
}
section {
  width:50%;
  float:left;
}
.btn span[role=status] {
  margin-right:3px;
}
.inopDescr {
  display: none;
  text-align: center;
  font-size: 1.15em;
}
.inop {
  .inopDescr{
    display: block;
  }
}

@media  (max-width: 700px) {
  section {
    width:100%;
    float:none;
  }
  .dest{
    height: calc(50vh - $navbar-height);
  }
}
@media  (max-width: 400px) {
  .navbar-brand {
    font-size: 1rem;
  }
  .btn {
    font-size: 0.9rem;
    padding: 0.2rem 0.5rem;
  }
}
@media  (max-width: 325px) {
  .navbar-brand {
    font-size: 0.8rem;
  }
}