$nav-height: 42px;
$nav-height-small: 36.2px;
$navbar-height: 56px;

.dest{
  height: calc(100vh -  ($nav-height + $navbar-height));
  overflow-y: scroll;
  a{
    svg  {
      float: right;
      font-size: 1.5em;
    }
    img {
      width:30px;
      height:20px;
      margin-right: 10px;
      object-fit: fill;
    }
  }
}
.nav {
  height: $nav-height;
}
nav {
  height: $navbar-height;
  .text-danger {
    font-size: 1.1em;
    font-weight: bold;
  }
}
.navbar-brand {
  margin: 0;
}
.navbar-brand.right {
  font-size: 15px;
}

.btn span[role=status] {
  margin-right:3px;
}
.inopDescr {
  display: none;
  text-align: center;
  font-size: 1.15em;
}
.inop {
  .inopDescr{
    display: block;
  }
}

@media  (max-width: 400px) {
  .navbar-brand {
    font-size: 1rem;
  }
  .btn {
    font-size: 0.9rem;
    padding: 0.2rem 0.5rem;
  }
}
@media  (max-width: 325px) {
  .navbar-brand, .nav-link {
    font-size: 0.8rem;
  }
  .dest {
    height: calc(100vh -  ($nav-height-small + $navbar-height));
  }
  .nav {
    height: $nav-height-small;
    .nav-link{
      padding: var(--bs-nav-link-padding-y) 5px !important;
    }
  }
  .btn {
    font-size: 0.7rem;
  }
  .navbar-brand{
    max-width: 50%;
    display:inline-block;
    word-break: break-word;
    white-space: normal;
    text-align: right;
  }
  .navbar-brand.right{
    font-size: 0.7rem;
    max-width: 40%;
  }

}